section.svelte-2maux0{height:100vh;background-image:linear-gradient(
        180deg,
        transparent,
        var(--dark-s),
        transparent
      ),
      url("/wedding/images/0.jpg");background-position:center;background-size:cover;padding:64px 16px}h1.svelte-2maux0,small.svelte-2maux0{margin-bottom:24px;display:block}